.event-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.event-name {
  font-size: 25px;
  margin: 20px;
}

.event-date {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.event-remarks {
  margin: 10px;
}

.clock-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.cd-box {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

.cd-digits {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Source Code Pro', monospace;
}

.cd-label {
  font-size: 25px;
}